<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Millenials and Generation Z for Gun Control | Our Mission</title>

    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">Millenials and Generation Z for Gun Control</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Our Mission</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Our Mission</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2">Our Mission</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="https://cdn.geekwire.com/wp-content/uploads/2017/04/Screen-Shot-2012-12-19-at-3.19.22-PM.png" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--<div class="row">-->
      <!--  <div class="col s12 m4">-->
      <!--    <div class="icon-block">-->
      <!--      <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
      <!--      <h5 class="center">Jack</h5>-->
      <!--      <p class="light">Stuff about this petition.  To learn more about the creator of this website, click <a href = "/jack">here</a></p>-->
      <!--    </div>-->
      <!--  </div>-->
      <div class="col s12 m4">
          <div class="icon-block">
            <!--<h2 class="center brown-text"><i class="material-icons">star</i></h2>-->
            <!--<h5 class="center">Our Mission</h5>-->

            <p class="light">Look at the image above.  These are all of the schools in which there has been a shooting.  In all of the yellow places, 1 or 0 fatalities occurred.  But, in the orange places, multiple fatalities occurred.  This is a problem.  We must do something to stop this from happening.  In Australia, there was a mass shooting in 1996.  Immediately after, gun reform was introduced, and there has not been a mass shooting since.  In America, there have been over 200 school shootings since Columbine, and over 400 students have been shot, yet no action has been taken.  In addition, thousands of mass shootings have occurred since then.    
            We cannot let this trend continue, and we must take action before this happens again.   By signing this petition, you are supporting stricter gun laws to stop mass shootings and school shootings.<p></p>To learn more about the creator of this website, click <a href = "/jack">here</a></p>
            <p>If you would like a template of a letter to send to your congressman/woman, click <a href="/letter">here</a></p>
            <p>To go back to the home page, press <a href="/index">here</a></p>
          </div>
        </div>

        <!--<div class="col s12 m4">-->
        <!--  <div class="icon-block">-->
        <!--    <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
        <!--    <h5 class="center"></h5>-->
            <!--<p class="light">&emsp;&emsp;&emsp;<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAQ3AAAAJDhiN2JlZGY2LWRhMmEtNDUxOS05MmM4LTQ1OTFmMWJkNmZjOA.png"></p>-->
          </div>
        </div>

  <!--      <div class="col s12 m4">-->
  <!--        <div class="icon-block">-->
  <!--          <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
  <!--          <h5 class="center">Nathaniel</h5>-->
  <!--          <p class="light">Nate's a kid who lives in NYC. He started learning to code two weeks ago with Upperline. He runs, bikes, plays piano, plays guitar, skis, likes animals, likes people, likes cities, likes travelling, likes ice cream, likes caramel, is vegetarian, and has a brother and a sister. And a mom and a dad. He wishes he had a dog.</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href = "/jack">Jack Zimmerman</a>
        <p></p>
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>