<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Millenials and Generation Z for Gun Control</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">Millenials and Generation Z for Gun Control</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="aboutus">Our Mission</a></li>
      </ul>
      

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Our Mission</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Millenials and Generation Z for Gun Control Website and Petition</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="/quiz2" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">sign our petition!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://img.timeinc.net/time/daily/2011/1101/360_wgun_0124.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <!--<div class="row">-->
      <!--  <div class="col s12 m4">-->
      <!--    <div class="icon-block">-->
      <!--      <h2 class="center brown-text"><i class="material-icons">star</i></h2>-->
      <!--      <h5 class="center">Our Mission</h5>-->

      <!--      <p class="light">In the first 45 days of 2018, there have been 18 school shootings</p>-->
      <!--    </div>-->
      <!--  </div>-->

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">star</i></h2>
            <h5 class="center">Our Mission</h5>

            <p class="light">In the first 45 days of 2018, there have been 18 school shootings in the United States.  Since the Sandy Hook shooting in December 2012, over 400 students have been shot in over 200 school shootings.  Also, there have been over 1,600 mass shootings, leading to over 1,800 deaths and thousands more wounded.In other countries, gun control laws have nearly completely stopped school shootings.  In order to protect students, adults and everyone else in the U.S.A., we must convince the government to pass stricter gun contol laws.  You can learn more about our mission by clicking on either 'Our Mission' on the top of the page, or by clicking <a href="aboutus">here</a>.</p>
          </div>
        </div>

  <!--      <div class="col s12 m4">-->
  <!--        <div class="icon-block">-->
  <!--          <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>-->
  <!--          <h5 class="center">Cost</h5>-->

  <!--          <p class="light">Our goal is to cater to all the concerns that our users have - chief among those is often money, which is why we resolved to go one layer deeper. In addition to intensity and time, we added another option: cost.</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="black">It's time to make sure this doesn't happen again.  Sign and make your voice heard!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://cbsnews1.cbsistatic.com/hub/i/r/2012/12/15/35b38c24-a645-11e2-a3f0-029118418759/thumbnail/620x350/acd431750a0f8535eff03bb3fa9e8c42/UKNews_promo_AP636493546350.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href = "/jack">Jack Zimmerman</a>
        <p></p>
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>