<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Millenials and Generation Z for Gun Control | About Me</title>

    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">Millenials and Generation Z for Gun Control</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Our Mission</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Our Mission</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="https://yoors-media-uploads-adsfairbv.netdna-ssl.com/66221/blog/about-me-1497034723.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--<div class="row">-->
      <!--  <div class="col s12 m4">-->
      <!--    <div class="icon-block">-->
      <!--      <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
      <!--      <h5 class="center">Jack</h5>-->
      <!--      <p class="light">Stuff about this petition.  To learn more about the creator of this website, click <a href = "/jack">here</a></p>-->
      <!--    </div>-->
      <!--  </div>-->
      <div class="col s12 m4">
          <div class="icon-block">
            <!--<h2 class="center brown-text"><i class="material-icons">star</i></h2>-->
            <!--<h5 class="center">Our Mission</h5>-->

            <p class="light">Hello.  My name is Jack and I am the creator of this website.  I am a tenth grader, and I have finally had enough of the gun violence that has occurred throughout the past 20+ years.  I decided to make this website after the Parkland High School Shooting on Febuary 14, 2018.  It is time for todays children and young adults to take action for our protection in schools and we can do that by joining together on this site, sending letters to our congressmen and women, and taking a stand together!  <p></p>If you would like to ask questions or contact me, feel free to email me at <a class="header center teal-text text-lighten-2">kidsforguncontrol@gmail.com</a></p>
          </div>
        </div>

        <!--<div class="col s12 m4">-->
        <!--  <div class="icon-block">-->
        <!--    <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
        <!--    <h5 class="center"></h5>-->
            <!--<p class="light">&emsp;&emsp;&emsp;<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAQ3AAAAJDhiN2JlZGY2LWRhMmEtNDUxOS05MmM4LTQ1OTFmMWJkNmZjOA.png"></p>-->
          </div>
        </div>

  <!--      <div class="col s12 m4">-->
  <!--        <div class="icon-block">-->
  <!--          <h2 class="center brown-text"><i class="material-icons"></i></h2>-->
  <!--          <h5 class="center">Nathaniel</h5>-->
  <!--          <p class="light">Nate's a kid who lives in NYC. He started learning to code two weeks ago with Upperline. He runs, bikes, plays piano, plays guitar, skis, likes animals, likes people, likes cities, likes travelling, likes ice cream, likes caramel, is vegetarian, and has a brother and a sister. And a mom and a dad. He wishes he had a dog.</p>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href = "/jack">Jack Zimmerman</a>
        <p></p>
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>