<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Millenials and Generation Z for Gun Control | Template Confirmation</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index" class="brand-logo">Millenials and Generation Z for Gun Control</a>
      <ul class="right hide-on-med-and-down">
       <li><a href="aboutus">Our Mission</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a>Our Mission</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1></h1>
        <div class="row center">
          <h4 class="header col s12 light"></h4>
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://wp.production.patheos.com/blogs/mollywingate/files/2017/10/no-guns-1024x1024.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
        
        
        
<h4></h4>
        <h4>Please copy this passage, then click the link below to find your congressman or congresswoman's website.  Then paste this letter into the "contact me" section of the website. </h4>
        <p><p></p></p>
        <!--<h5>Dear <%= @congressmanfn%> <%= @congressmanln%>,</h5>-->
        <h5>  As your constituent, I strongly urge you to work with your colleagues to enact legislation to reduce gun violence in our country.  The safety of children and the rest of America depends on the action you take to ban military-style weapons and high capacity magazines and to make background checks universal in all purchases of guns.</h5>
        <h5>  The increase in the number of mass shootings in this country has been a true eye-opener for all citizens.  Hundreds of people are being murdered while they innocently go about their lives in their schools, places of worship, theaters, and concert venues.  The most recent mass shooting that took the lives of 17 people in Parkland was the last straw.  In the aftermath of that tragedy, it has become more and more apparent that the NRA has entirely too much influence over our politicians. Gun lobbyists want to convince us that the answer to gun violence is to arm even more people, such as school employees.  That proposal is not a solution at all.  It is time for the lawmakers in this country to work together to make the United States of America safe from random acts violence by people with automatic weapons.</h5>
        <h5>  The reforms I propose do not infringe on the Second-Amendment rights of law-abiding citizens.  However, these reforms would make it more difficult for criminals, the mentally ill and other dangerous people to acquire guns.  These proposed reforms would also remove automatic weapons, with the sole purpose of killing masses of people in seconds, from our communities.</h5>
        <h5>Please be the lawmaker who will stand with all of us who are exhausted and saddened by the gun violence in this country.</h5>
        <h5>I hope I can count on you to fight for the safety of your constituents.</h5>
        <h5>Sincerely,</h5>
        <h5><%= @firstname%> <%= @lastname%></h5>
        
        <h6>After you copy the letter, click <a href="https://whoismyrepresentative.com/">here</a> and put in the required information to reach your congressman/woman's website.  Then paste this letter into the contact portion of the website</h6>
      
      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i></h2>
            <h5 class="center"></h5>

            <p class="light"></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light"></p>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href = "/jack">Jack Zimmerman</a>
        <p></p>
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
